# Estruturas de repetição

As Estruturas de repetição permitem repetir um grupo de ações enquanto determinadas condições são satisfeitas. Ela são __denominados laços ou loops.__
 
Instruções primitivas básicas:

- enquanto: __while__
- para: __for__

## While

O laço __while__ permite executar um conjunto de insturções __enquanto__ a condição for __verdadeira__.

- O teste lógico ocorre no __início do laço__.

![fig3](figuras/while-simple.png)

- Exemplo abaixo calcula a média aritmética das notas de 10 alunos exibindo-as individualmente.

In [ ]:
# Variável de contagem (condição do while)
contador = 0

# Repetição
while (contador < 10):
    print('Aluno: ' + str(contador))
    
    # Entrada de dados
    n1 = float(input('Digite nota 1: '))
    n2 = float(input('Digite nota 2: '))
    n3 = float(input('Digite nota 3: '))
    n4 = float(input('Digite nota 4: '))

    # Processamento
    ma = (n1 + n2 + n3 + n4) / 4
    
    # Decisão
    if ma < 6:
        print('Em recuperação: ' + str(ma))
    else:
        print('Aprovado: ' + str(ma))
    
    # Contador de alunos
    contador = contador + 1

# Fim do while (indentado à direita)
print('Cálculos concluídos')

- Exemplo abaixo calcula a média aritmética das notas dos alunos enquando o usuário quiser. Os dados são exibindo individualmente.

In [ ]:
# Continuação (condição do while)
continuar = 's'

# Repetição
while (continuar == 's'):
    
    # Entrada de dados
    n1 = float(input('Digite nota 1: '))
    n2 = float(input('Digite nota 2: '))
    n3 = float(input('Digite nota 3: '))
    n4 = float(input('Digite nota 4: '))

    # Processamento
    ma = (n1 + n2 + n3 + n4) / 4
    
    # Decisão
    if ma < 6:
        print('Em recuperação: ' + str(ma))
    else:
        print('Aprovado: ' + str(ma))

    # Continuar ou não?
    continuar = input('Deseja continuar (s/n): ')

# Fim do while (indentado à direita)

## for

Laços __for__ são utilizados para iterar em uma sequência. 

- Em cada iteração, a variável definida no laço irá incrementar.
 
![fig3](figuras/for-simple.png)

- Strings são sequências de caracteres:

In [ ]:
# Para cada letra em "banana"
for letra in "banana":
    print(letra)

- Pode-se executar qualquer instrução dentro do laço:

In [ ]:
for letra in "banana":
    if letra == 'a':
        print('A')
    else:
        print(letra)

- A função __range__ permite criar sequências numéricas.

In [ ]:
# Para uma sequência de 6 números: [0,6[
# Range começa em 0 por padrão.
# O incrento da sequência é 1 por padrão.

for numero in range(6):
    print(numero)

In [ ]:
# Range pode começar em 2 até 10, mas 10 não é incluso
for numero in range(2,10):     # Intervalo [2,10[
    print(numero)

In [ ]:
# Para mudar o intervalo de incremento
for numero in range(2,30,3):     # Intervalo [2,30[ 
     print(numero)               # com incremento de 3

- Exemplo: tabuada

In [ ]:
# Pede para o usuário
tabuada = int(input('Qual tabuada? '))

print('Range(0,11)')
for numero in range(0,11):
    print(numero * tabuada)
    
# ou
print('Range mais esperto')
for numero in range(0, tabuada * 11, tabuada):
    print(numero)

- Exemplo: funções matemáticas

In [ ]:
# Valores de uma parábola
for x in range(-10,11):
    y = x**2 -9*x + 2
    print(y)

In [ ]:
# Funções mais avançacas requerem bibliotecas
# Aqui estamos importando as funções seno (radianos)
from math import sin

# Valores da função seno
for x in range(-10,11):
    y = sin(x)
    print(y)

## Exercícios

1. O código abaixo é um jogo de adivinhação. Modifique-o usando __laço while__ para que o jogo não termine enquanto o usuário não acertar.

In [ ]:
print('Bem vindo')
print('Adivinhe o número entre 0 e 10')

chute = 0
alvo = 5

chute = int(input('Número: '))

if (chute < alvo):
    print('Muito baixo!')

if (chute > alvo):
    print('Muito alto!')
    
if (chute ==  alvo):
    print('Você acertou, parabéns')

2. Peça um número ao usuário e mostre na tela a tabuada desse número (0 a 50).

3. Peça ao usuário um número inteiro, informe se o número é par. Repita o processo até que o usuário digite o número zero.

4. Some os números que o usuário entrar até que ele digite o número 0.

5. Peça um número para o usuário, mostre o maior número digitado até o momento. Encerre quando o usuário digitar -1.

6. Implemente um programa que receba como entrada dois números, representando altura e largura. Imprima um retângulo formado com o caractere asterisco de altura e largura especificadas.   

```
Digite altura: 3
Digite largura: 
**********
**********
**********
```

7. Faça um programa que peça ao usuário um número máximo e imprima na tela a sequência (usando laço):

1 3 5 7 9 11 ... NUM\_MAX ... 11 9 7 5 3 1

8. Construa um programa que leia um conjunto de dados contendo altura e sexo ('M' para masculino e 'F' para feminino) de 10 pessoas e, depois, calcule e escreva:

    - a maior altura;
    - a média de altura das mulheres;
    - o número de homens e a diferença porcentual entre eles e as mulheres.

In [ ]:
#Variáveis
altura = 0.0
sexo = 'F'

numero_max_pessoas = 3   # é 10
contador = 0

maior_altura = 0.0

acumulador_alturas = 0.0
numero_mulheres = 0
numero_homens = 0
porcentual_homens = 0.0

media_alturas = 0

while (contador < numero_max_pessoas):   

    altura = float(input('Digite a altura: '))
    sexo = input('Digite o sexo (M/F): ')
    
    if (altura > maior_altura):
        maior_altura = altura
        
    if (sexo == 'F'):
        acumulador_alturas = acumulador_alturas + altura
        numero_mulheres = numero_mulheres + 1
    
    print(altura)
    print(sexo)
    
    contador = contador + 1


if (numero_mulheres != 0):
    media_alturas = acumulador_alturas / numero_mulheres

numero_homens = numero_max_pessoas - numero_mulheres
porcentual_homens = numero_homens / numero_max_pessoas * 100

print('A maior altura: ' + str(maior_altura))
print('Média de altura das mulheres: ' + str(media_alturas))
print('Porcentual homens: ' + str(porcentual_homens))
print('Porcentual mulheres: ' + str(100 - porcentual_homens))

9. A conversão de Farenheit para Celsius é obtida pela fórmula C = 5/9(F-32). Escreva um programa que calcule e escreva uma tabela de Farenheit para Celsius em função de Farenheit que varie de 50 a 150 em 1 em 1.

In [15]:
# Variáveis
celsius = 0.0

print('Tabela de conversão:')
valor_inferior = int(input('Valor inferior da tabela: '))
valor_superior = int(input('Valor superior da tabela: '))
print('Farenheit \t Celsius:')


for farenheit in range(valor_inferior,valor_superior + 1):     
    celsius = 5/9*(farenheit - 32)
    print(str(farenheit) +  '\t\t' + str(format(celsius, '7.2f')))

Tabela de conversão:
Valor inferior da tabela: 20
Valor superior da tabela: 200
Farenheit 	 Celsius:
20		  -6.67
21		  -6.11
22		  -5.56
23		  -5.00
24		  -4.44
25		  -3.89
26		  -3.33
27		  -2.78
28		  -2.22
29		  -1.67
30		  -1.11
31		  -0.56
32		   0.00
33		   0.56
34		   1.11
35		   1.67
36		   2.22
37		   2.78
38		   3.33
39		   3.89
40		   4.44
41		   5.00
42		   5.56
43		   6.11
44		   6.67
45		   7.22
46		   7.78
47		   8.33
48		   8.89
49		   9.44
50		  10.00
51		  10.56
52		  11.11
53		  11.67
54		  12.22
55		  12.78
56		  13.33
57		  13.89
58		  14.44
59		  15.00
60		  15.56
61		  16.11
62		  16.67
63		  17.22
64		  17.78
65		  18.33
66		  18.89
67		  19.44
68		  20.00
69		  20.56
70		  21.11
71		  21.67
72		  22.22
73		  22.78
74		  23.33
75		  23.89
76		  24.44
77		  25.00
78		  25.56
79		  26.11
80		  26.67
81		  27.22
82		  27.78
83		  28.33
84		  28.89
85		  29.44
86		  30.00
87		  30.56
88		  31.11
89		  31.67
90		  32.22
91		  32.78
92		  33.33
93		  33.89
94		  34.44
95		  35.00
96		  35.56
97		  36.11
98		  36.67
99		  37.22
100		  37.78
101		  38.33
102		  38.89
103		  39.44
104		  40.00
105		  40.56
106		  41.11
107		  41.67
108		  42.22
109		  42.78
110		  43.33
111		  43.89
112		  44.44
113		  45.00
114		  45.56
115		  46.11
116		  46.67
117		  47.22
118		  47.78
119		  48.33
120		  48.89
121		  49.44
122		  50.00
123		  50.56
124		  51.11
125		  51.67
126		  52.22
127		  52.78
128		  53.33
129		  53.89
130		  54.44
131		  55.00
132		  55.56
133		  56.11
134		  56.67
135		  57.22
136		  57.78
137		  58.33
138		  58.89
139		  59.44
140		  60.00
141		  60.56
142		  61.11
143		  61.67
144		  62.22
145		  62.78
146		  63.33
147		  63.89
148		  64.44
149		  65.00
150		  65.56
151		  66.11
152		  66.67
153		  67.22
154		  67.78
155		  68.33
156		  68.89
157		  69.44
158		  70.00
159		  70.56
160		  71.11
161		  71.67
162		  72.22
163		  72.78
164		  73.33
165		  73.89
166		  74.44
167		  75.00
168		  75.56
169		  76.11
170		  76.67
171		  77.22
172		  77.78
173		  78.33
174		  78.89
175		  79.44
176		  80.00
177		  80.56
178		  81.11
179		  81.67
180		  82.22
181		  82.78
182		  83.33
183		  83.89
184		  84.44
185		  85.00
186		  85.56
187		  86.11
188		  86.67
189		  87.22
190		  87.78
191		  88.33
192		  88.89
193		  89.44
194		  90.00
195		  90.56
196		  91.11
197		  91.67
198		  92.22
199		  92.78
200		  93.33

In [12]:
print(format(5.555557777, '7.2f'))

   5.56